@model  ExaminationEntity.ExaminationModels.UserAnswer
@{
    Layout = null;
}


@using (Html.BeginCollectionItem("UserAnswer"))
{
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 clearfix">
        <div class="thumbnail matchingChoicesPanel  @(Model.isSelected ? "isSelectedThumbnail": "")">
            <div class="caption">
                <div class="row" style="height:138px;">
                    <div class="examAvatar col-xs-2 col-sm-2 col-md-2 col-lg-2">
                        <br />
                        @if (Model.isSelected)
                        {
                            <label class="isChoosen mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect is-checked" data-quesid=@Model.ScheduleQuestionId for="@Model.Id">
                                <input type="checkbox" id="@Model.Id" class="isCorrectChoices mdl-checkbox__input" checked>
                            </label>
                        }
                        else

                        {
                            <label class="isChoosen mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" data-quesid=@Model.ScheduleQuestionId for="@Model.Id">
                                <input type="checkbox" id="@Model.Id" class="isCorrectChoices mdl-checkbox__input">
                            </label>
                        }

                    </div>
                    <div class="examAvatar col-xs-10 col-sm-10 col-md-10 col-lg-10">
                     
                        <p>
                            @if (!object.ReferenceEquals(Model, null))
                            {

                                if (!object.ReferenceEquals(Model.choiceImage, null) && Model.choiceImage.contentLenght > 0)
                                {   @Model.ChoiceString
                                    @Html.HiddenFor(x => x.ChoiceString)
                                    <div style="max-width:50%;max-height:50%;">
                                        @Html.HiddenFor(x => x.imageId)
                                        <img alt="Main Image" style="width:100px;height:100px;" src="@String.Format("data:{0};base64,{1}",Model.choiceImage.contentType,Model.choiceImage.content64base)" />

                                    </div>
                                }
                                else
                                {
                                    <h3> @Model.ChoiceString</h3>
                                        @Html.HiddenFor(x => x.ChoiceString)
                                }
                            }
                        </p>



                    </div>
                </div>

            </div>
        </div>

    </div>

}


