@model ExaminationEntity.ExaminationModels.ExamTemplate
    @{
        Layout = null;
    }



<div class="list-group-item">
    <div class="list-group-item-text">
        <div class="row">
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
               @Model.ExamTemplateName
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                <button id="@Model.Id"
                        class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="glyphicon glyphicon-option-vertical"></i>
                </button>

                <ul class="listUserMenu mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                    data-mdl-for="@Model.Id">
                    <li><button class="updateExamination mdl-menu__item mdl-button mdl-js-button  mdl-js-ripple-effect" type="button"  data-examinationId="@Model.Id">Update</button></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-sm-12 col-md-12 col-lg-12">
                @Model.TemplateDescription
            </div>
        </div>
    </div>
</div>