@model ExaminationEntity.ExaminationModels.CategoryQuestion
@{
    Layout = null;
}



<div class="list-group-item">
    <div class="list-group-item-text">
        <div class="row">
            <div class="col-xs-10 col-sm-11 col-md-11 col-lg-11">
                <div class="questionListQuestion">@if (Model.Question != null)
                {@Model.Question;
            }
            else
            { <div>Please see Details</div>}</div>
                <div class="questionListQuestionSubDetail">@Model.QuestionType</div>
            </div>
            <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1">
                <button id="@Model.Id" type="button"
                        class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="glyphicon glyphicon-option-vertical"></i>
                </button>
                <ul class="listUserMenu mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="@Model.Id">

                    <li> <button type="button" id="@Model.Id" class="updateQuestionBtn mdl-menu__item mdl-button mdl-js-button  mdl-js-ripple-effect">Update</button> </li>
                    <li> <button type="button" id="@Model.Id" class="questionViewDetails mdl-menu__item mdl-button mdl-js-button  mdl-js-ripple-effect">View Details</button></li>
                    <li>
                        <button type="button" id="@Model.Id" class="questionViewDeleteItem mdl-menu__item mdl-button mdl-js-button  mdl-js-ripple-effect">Delete</button>
                        @*@Html.ActionLink("View Details", "Details", "Question", new { Id = @Model.Id }, new { @class = "questionViewDetails mdl-menu__item mdl-button mdl-js-button  mdl-js-ripple-effect" })*@
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



