@model CivicExamination.Models.UpdatePassword

@{
    ViewBag.Title = "Register";
}





    <div class="row">

      


        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">


            <div class="panel panel-success">
                <div class="panel-heading"><b>Personal Detail</b></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                @*<input class="mdl-textfield__input" type="text" id="sample3">
                                    <label class="mdl-textfield__label" for="sample3">Text...</label>*@
                                @Html.TextBoxFor(p => p.User.UserDetail.Firstname, new { @class = "mdl-textfield__input", @readonly = "readonly" })
                                @Html.Label("Firstname", new { @class = "mdl-textfield__label" })
                                @Html.ValidationMessageFor(p => p.User.UserDetail.Firstname, null, new { @class = "formErrorCode " })




                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                @Html.TextBoxFor(p => p.User.UserDetail.Middlename, new { @class = "mdl-textfield__input", @readonly = "readonly" })
                                @Html.Label("Middlename", new { @class = "mdl-textfield__label" })
                                @Html.ValidationMessageFor(p => p.User.UserDetail.Middlename, null, new { @class = "formErrorCode " })


                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                @Html.TextBoxFor(p => p.User.UserDetail.Lastname, new { @class = "mdl-textfield__input", @readonly = "readonly" })
                                @Html.Label("Lastname", new { @class = "mdl-textfield__label" })
                                @Html.ValidationMessageFor(p => p.User.UserDetail.Lastname, null, new { @class = "formErrorCode " })


                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                @*<input class="mdl-textfield__input" type="text" id="sample3">
                                    <label class="mdl-textfield__label" for="sample3">Text...</label>*@
                                @Html.TextBoxFor(p => p.User.UserDetail.PresentAddress, new { @class = "mdl-textfield__input", @readonly="readonly" })
                                @Html.Label("Address", new { @class = "mdl-textfield__label" })
                                @Html.ValidationMessageFor(p => p.User.UserDetail.PresentAddress, null, new { @class = "formErrorCode " })




                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                @Html.TextBoxFor(p => p.User.UserDetail.Gender, new { @class = "mdl-textfield__input", @readonly = "readonly" })
                                @Html.Label("Gender", new { @class = "mdl-textfield__label" })
                            

                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
            <div class="panel panel-success">
                <div class="panel-heading"><b>Contact Detail</b></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                                @Html.TextBoxFor(p => p.User.UserDetail.EmailAddress, new { @class = "mdl-textfield__input", @readonly = "readonly" })
                                @Html.Label("Email Address", new { @class = "mdl-textfield__label" })
                                @Html.ValidationMessageFor(p => p.User.UserDetail.EmailAddress, null, new { @class = "formErrorCode " })
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                                @Html.TextBoxFor(p => p.User.UserDetail.HomeContact, new { @class = "mdl-textfield__input", @readonly = "readonly" })
                                @Html.Label("Contact Number", new { @class = "mdl-textfield__label" })
                                @Html.ValidationMessageFor(p => p.User.UserDetail.HomeContact, null, new { @class = "formErrorCode " })

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "UpdateAdminPasswordForm" }))
{
    @Html.AntiForgeryToken()

    if (Html.ValidationSummary(true, "", new { @class = "text-danger" }) != null)
    {
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
            <div class="panel panel-danger">
                <div class="panel-heading">Errors</div>
                <div class="panel-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

    }

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
            <div class="panel panel-success">
                <div class="panel-heading"><b>Credential Detail</b></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    @Html.HiddenFor(p => p.User.Id)
                                    @Html.HiddenFor(p => p.User.CompanyId)
                                    @Html.TextBoxFor(p => p.Username, new { @class = "mdl-textfield__input", @readonly = "readonly" })
                                    @Html.Label("Username", new { @class = "mdl-textfield__label" })

                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                                    @Html.TextBoxFor(p => p.Password, new { @class = "passwordDetail mdl-textfield__input" })
                                    @Html.Label("Password", new { @class = "mdl-textfield__label" })
                                    @Html.ValidationMessageFor(p => p.Password, null, new { @class = "formErrorCode " })
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

                                    @Html.TextBoxFor(p => p.ConfirmPassword, new { @class = "passwordDetail mdl-textfield__input" })
                                    @Html.Label("Confirm Password", new { @class = "mdl-textfield__label" })
                                    @Html.ValidationMessageFor(p => p.ConfirmPassword, null, new { @class = "formErrorCode " })
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    
                            <button type="button" id="generatePassword" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                                Generate Password
                            </button>

                        </div>


                    </div>
                </div>
            </div>
        </div>
}
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2">
            <button id="submitAdminCredUpdates" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                submit
            </button>
            @Html.ActionLink("Back To list", "AdminAccountIndex", "Account",null, new { @class = "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" })


        </div>
    
    </div>


<div id="toastNotif" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/AccountModule")
<script>
    $(document).ready(function () {
        var formTitle = $('.mainFormTitle');
        var baseUrl = $('#SystemBaseURL').val()
        formTitle.text('Reset Admin Credentials');

    })
</script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
